*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    font-weight: 100;
    background: white;
    color: darkblue;
}
.hidden {
    display: none;
}
body{
    font-family: arial,sans-serif;
    line-height: 1.6;
    color: var(--dark-color);
    background-color: var(--light-color);
}
.Background{
    background-image: url('/SportsClub/assest/image/background.png')  ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Signin-container {
    position: relative;
    max-width: 400px;
    height: 400px;
    background:ghostwhite;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.Signin-container h2{
    font-size: 25px;
    text-align: center;
}
.form-group{
    cursor: pointer;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: bg 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.form-group input:focus {
    cursor: pointer;
    border-color: #007bff;  /* Focus color */
    outline: none;  /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  /* Focus shadow effect */
}
.form-group{
    margin-bottom: 1.5rem;
}
.form-group label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 100;
}
.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}
.form-link{
    margin-top: 1.5rem;
    text-align: center;
}

footer{
    text-align:center ;
    background-color: #ddd;
}