body{
    background-color: azure;
}
.Background {
    background-image: url('/assest/image/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Signin-container{
    font-size: 1.5cap;
    max-width: 600px;
    height: 500px;
    margin: auto;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(red, green, blue, alpha);
}
.Signin-container h1{
    text-align: center;
}
form-group {
    margin-bottom: 1rem;
    cursor: pointer;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 30;
}

.form-group input {
    width: 90%;
    padding: 0.75rem;
    border: 0.5px solid #ddd;
    border-radius: 1px;
    font-size: 0.5rem;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
button{
    width: 100%;
    padding: 0.75rem;
    background-color: #003F87;
    color: white;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;

}