
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/SportsClub/assest/image/abc.avif);
    background-size: cover;
    background-position: center;
}
.Signup-container{
    background-color: aliceblue;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.Signup-container h1{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: bold;
}
.Signup-container input[type="First"],
.Signup-container input[type="last"],
.Signup-container input[type="email"],
.Signup-container input[type="password"]{
    width:100%;
    padding: 12px 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;

}
.Signup-container input:focus{
    border-bottom-color: #8e44ad;
}
.Signup-container button{
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #3a8ef6, #0f62c9);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.Signup-container button:hover {
    opacity: 0.9;
  }
.Signup-container .links {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
.Signup-container .links a {
    color: #3a8ef6;
    text-decoration: none;
    font-weight: 500;
}
.Signup-container .links a:hover {
    text-decoration: underline;
}
